* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}
header {
  background-color: aquamarine;
}

.attempt {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.grid {
  margin: 2rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.tile {
  text-align: center;
  border: outset 0.3rem #bbbbbb;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  height: 3.5rem;
  width: 3.5rem;
}
/* @-webkit-keyframes blink {
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
}
@keyframes blink {
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
}
.focused {
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
} */
.keyboard {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  margin: 1rem;
}
.line {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.key {
  height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 1rem;
}
.key:hover {
  background-color: aquamarine;
}
.key[value="Enter"], .key[value="Back"]{
  min-width: 6rem;
}