* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 3vh;

    header {
        width: 100vw;
        background-color: blue;
    }

    .grid {
        margin: 3vh 1vh;
        display: flex;
        flex-flow: column;
        gap: 1vh;
        .row {
            display: flex;
            justify-content: center;
            gap: 1vh;
            .tile {
                border: outset 0.75vh #bbbbbb;
                border-radius: 1vh;
                height: 7.5vh;
                width: 7.5vh;
            }
        }
    }

    .keyboard {
        display: flex;
        flex-flow: column;
        gap: 1vh;
        margin: 3vh;
        .line {
            display: flex;
            justify-content: center;
            gap: 1vh;
            .key {
                height: 5vh;
                min-width: 5vw;
            }
            #enter, #back {
                min-width: 10vw;
            }
        }
    }
}